:root {
  --text-color: black;
  --header-bg-color: white;
  --contentLeft-bg-color: #dbc5b0;
  --contentRight-bg-color: #fafafa;
  --other-color: #334858;
}

body {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Oxygen", sans-serif;
  color: var(--other-color);
}

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  margin: 10px auto;
}

ul,
ol {
  padding-left: 0;
}

li {
  list-style: none;
  margin: 10px 0px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}

.material-symbols-outlined {
  color: var(--other-color);
  vertical-align: middle;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
}

.nav li a {
  color: var(--other-color);
  padding: 0 6px 6px;
  transition: all .2s;
}

.nav li a:hover {
  border-bottom: 2px solid var(--contentLeft-bg-color);
}

.main {
  display: flex;
  flex-direction: row;
}

.nameSmollscreen,
.positionSmollscreen {
  display: none;
}

.contentLeft {
  display: flex;
  flex-direction: column;
  background-color: var(--contentLeft-bg-color);
  min-height: 100px;
  width: 30%;
  min-width: 244px;
  padding: 20px;
  border-radius: 30px;
}

.contentRight {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--contentRight-bg-color);
  width: 80%;
  border-radius: 30px;
  overflow: hidden;
}

.photo {
  align-self: center;
  margin: 20px;
}

.photo img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.contacts {
  margin-left: 15px;
  margin-right: 15px;
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  font-family: "Roboto", sans-serif;
}

.profile {
  margin: 10px 15px;
  text-align: justify;
}

.container {
  margin: 4px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.label,
.progressBar,
.progressBlock {
  float: left;
}

.label {
  margin-right: 10px;
}

.progressBlock {
  width: 12px;
  height: 12px;
  margin: 2px 1px;
  background-color: var(--contentRight-bg-color);
  border-radius: 6px;
}

.progressBlock.active {
  background-color: var(--other-color);
}

.name {
  text-align: center;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
}

.name h1 {
  margin: 0;
}

.firstname {
  color: var(--other-color);
}

.lastname {
  color: var(--contentLeft-bg-color);
}

.position {
  text-align: center;
  font-size: 15px;
  color: var(--other-color);
}

.position h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.title span {
  display: inline-block;
  vertical-align: middle;
}

.title::before,
.title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 3px;
  background-color: var(--other-color);
  position: relative;
}

.title::before {
  margin-left: -100%;
  left: -10px;
}

.title::after {
  margin-right: -100%;
  right: -10px;
}

.experientce {
  margin: 10px 15px 10px;
}

.experientce__img {
  max-width: 180px;
  max-height: 100px;
}


.slick-dots {
  height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  width: 10px;
  height: 10px;
  background-color: #fbe2ca;
  border-radius: 50%;
}

.slick-active button {
  width: 12px;
  height: 12px;
  background-color: var(--contentLeft-bg-color);
}

.codeExample {
  width: 70%;
  align-self: center;
  margin: 10px 0;
}

.education {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.twoColumnsContent {
  display: flex;
  justify-content: space-evenly;
}

.languagesColumn,
.computerColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.languagesColumn {
  margin-right: 10px;
}

.computerColumn {
  margin-left: 10px;
}

.languages,
.computer {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.computerBlock {
  display: flex;
}

.computer.right {
  width: 50%;
}

.computer.left {
  width: 50%;
}

.footer {
  display: flex;
  height: 50px;
  align-items: center;
}

.copy,
.mygit {
  display: flex;
  margin: 0px 10px;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.githubLogo {
  height: 20px;
}

.logo {
  margin-left: auto;
}

.rssLogo {
  height: 30px;
}

@media (max-width: 1000px) {
  .experientce__img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 735px) {
  body {
    min-width: 400px;
  }

  .nav ul {
    flex-wrap: wrap;
  }

  .nav li {
    margin: 5px 10px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .nameSmollscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  .nameSmollscreen h1 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 50px;
  }

  .positionSmollscreen {
    display: contents;
  }

  .positionSmollscreen h2 {
    margin-top: 0;
  }

  .name,
  .position {
    display: none;
  }

  .contentLeft,
  .contentRight {
    width: 90%;
  }

  /* .photo img {
    width: 100%;
    height: 100%;
    border-radius: 15;
  } */

  @media (max-width: 525px) {
    .twoColumnsContent {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .languagesColumn,
    .computerColumn {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
